# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Audio Files
audio/*.wav
audio/*.mp3

# IDE Settings
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db